doctype html
html
  head
    title ADD EVENT
  body
    h1 Add a New Event
    br
    br
    form(action='/addEvent', method='POST')
      label(for='EventName') Event Name: 
      input(type='text', name='EventName', placeholder='Event Name')
      br
      br
      label(for='EventDate') Event Date: 
      input(type='date', name='EventDate', placeholder='Event Date')
      br
      br
      label(for='EventPlace') Event Place:
      input(type='text', name='EventPlace', placeholder='Event Place')
      br
      br
      label(for='EventOrganizer') Event Organizer:
      input(type="text", name='EventOrganizer', placeholder='Event Organizer')
      br
      br
      label(for='EventDescription') Event Description: 
      input(type='text', name='EventDescription', placeholder='Event Description')
      br
      br
      label(for='EventStations') No of Station: 
      input(type='number', name='EventStations', placeholder='No of Station')
      br
      br
      input(type='submit')

      
      
