doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scrolling Nav - Start Bootstrap Template
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='stylesheets/scrolling-nav.css', rel='stylesheet')
    link(href='stylesheets/newscarousel.css', rel='stylesheet')
    link(href='stylesheets/project.css', rel='stylesheet')
    style.
      body {
      background-image:url(img/mountain_lake_scenery_2-wallpaper-1600x900.jpg);
      }
      #joinevent #blackbox{
      background-color: rgba(34,34,34,0.7);
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 30px;
      vertical-align: center;
      margin-top: 130px;
      margin-bottom: 20px;
      }
      #joinevent form h2{
      color:white;
      }
      #joinevent form .btn{
 
      margin-top: 10px;
      margin-bottom:20px;
      background-color:#ff9640;
      border-color: none !important;
      color:white;
      
      }
      .col-xs-12{
      margin-bottom:15px;
      }
      p {
      color:red;
      }
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='http://localhost:3000/home')
            img(src='../img/logo.png', height='18', width='140')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a.page-scroll(href='http://localhost:3000/home#page-top')
            li
              a.page-scroll(href='http://localhost:3000/home#events') Events
            li
              a.page-scroll(href='http://localhost:3000/home#services') Services
            li
              a.page-scroll(href='http://localhost:3000/home#download') Download
            li 
              a(href='http://localhost:3000/logout') Logout
              
    #joinevent
      .container
        .row
          .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
            #blackbox
              form(role='form' method="POST" action="/Join")
                h2 Join an event.
              
                .form-group
                  input#fullname.form-control.input-md(type='text', name='fullname', placeholder='Full Name', tabindex='1', required)
                .form-group
                  input#address.form-control.input-md(type='text', name='address', placeholder='Address', tabindex='2' , required)
                .row
                  .col-xs-12.col-sm-6.col-md-6
                    input#age.form-control.input-md(type='number', name='age', placeholder='Age', tabindex='3' , required)
                  .col-xs-12.col-sm-6.col-md-6
                    select#gender.form-control(tabindex='4' , required)
                      option Male
                      option Female
                .form-group
                  input#email.form-control.input-md(type='email', name='emailaddress', placeholder='Email Address', tabindex='5' , required)
                .row
                  .col-xs-12.col-sm-6.col-md-6
                    select#event.form-control(name="event" tabindex='6' , required)
                      each event in users
                        |<option value=#{event.EventName}>#{event.EventName}</option>
                      
                  .col-xs-12.col-sm-6.col-md-6
                    input#contactnum.form-control.input-md(type='number', name='contactnumber', placeholder='Contact Number', tabindex='7' , required)
                .form-group
                  p #{title}
                  button.btn(type='submit', tabindex='8') Submit
                  
                    
    script(src='javascripts/jquery.js')
    script(src='javascripts/scrollingproject.js')
    // Bootstrap Core JavaScript
    script(src='javascripts/bootstrap.min.js')
    // Scrolling Nav JavaScript
    script(src='javascripts/jquery.easing.min.js')
    script(src='javascripts/scrolling-nav.js')
    script(src='javascripts/newscarousel.js')
