doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Scrolling Nav - Start Bootstrap Template
    link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='../stylesheets/scrolling-nav.css', rel='stylesheet')
    link(href='../stylesheets/newscarousel.css', rel='stylesheet')
    link(href='../stylesheets/project.css', rel='stylesheet')
  body#page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.page-scroll(href='#page-top')
            img(src='../img/logo.png', height='18', width='140')
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse.navHeaderCollapse
          ul.nav.navbar-nav.navbar-right
            // Hidden li included to remove active class from about link when scrolled up past about section
            li.hidden
              a.page-scroll(href='#page-top')
            li
              a.page-scroll(href='#events') Events
            li
              a.page-scroll(href='#services') Services
            li
              a.page-scroll(href='#download') Download
            li
              a(href='http://localhost:3000/home') Logout
    
    #thumbnail-preview-indicators.carousel.slide(data-ride='carousel')
      // Indicators
      .carousel-inner
        .item.slides.active
          .slide-1
          .container
            .carousel-caption
              h1 New carousel layout
              p Responsive thumbnail preview in carousel indicators.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Sign up today
        .item.slides
          .slide-2
          .container
            .carousel-caption
              h1 Another example headline.
              p Cras justo odio, dapibus ac facilisis in, egestas eget quam.
              p
                a.btn.btn-lg.btn-primary.page-scroll(href='#about', role='button') Learn more
        .item.slides
          .slide-3
          .container
            .carousel-caption
              h1 One more for good measure.
              p Nullam id dolor id nibh ultricies vehicula ut id elit.
              p
                a.btn.btn-lg.btn-primary(href='#', role='button') Browse gallery
      a.left.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left
      a.right.carousel-control(href='#thumbnail-preview-indicators', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right
    section#events.events-section
      .container
        .row
          // Blog Entries Column
          .col-md-8
            h1.page-header
              | Current Events
            .row
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/Glow-Run-Poster_MS.jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='postresults.htm')
                  | Read More
                  span.glyphicon.glyphicon-chevron-right
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/Run4aReason-Race_Poster_thumb[2].jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='eventpost.htm')
                  | Read More 
                  span.glyphicon.glyphicon-chevron-right
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/fuego-sunset-run-2012-poster-723x1024.jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='eventpost.htm')
                  | Read More 
                  span.glyphicon.glyphicon-chevron-right
            .row
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/JLR13-Poster-Web.jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='eventpost.htm')
                  | Read More
                  span.glyphicon.glyphicon-chevron-right
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/catbalogan-run-2012-poster.jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='eventpost.htm')
                  | Read More
                  span.glyphicon.glyphicon-chevron-right
              .col-lg-4.col-sm-4
                #thumbnailevent
                  img.img-responsive(src='../img/RU-Poster-Low-Res.jpg')
                h3
                  a(href='#') Lorem Ipsum
                p.text-muted
                  | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
                a.btn.btn-primary(href='eventpost.htm')
                  | Read More
                  span.glyphicon.glyphicon-chevron-right
          .col-md-4
            h1.page-header
              | Upcoming Events
            ul
              each tevent in trailevents
                |<li name="#{tevent.EventName}">#{tevent.EventDate} - <a href="/Event/#{tevent.EventName}">#{tevent.EventName}</a>
                |</li> 
            h1.page-header
              | Past Events
            .row
              .col-md-12
                .row
                  .col-xs-2
                    img(src='../img/7K-2013_poster.jpg', height='70', width='50')
                  .col-xs-9
                    h4
                      a(href='eventpostresults.htm') Lorem Impusom Mothafucka
                    p
                      | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut
            hr
            .row
              .col-md-12
                .row
                  .col-xs-2
                    img(src='../img/rogin-e-last-man-running-2-poster-661x1024.jpg', height='70', width='50')
                  .col-xs-9
                    h4
                      a(href='#') Lorem Impusom Mothafucka
                    p
                      | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut
            hr
            .row
              .col-md-12
                .row
                  .col-xs-2
                    img(src='../img/Run-of-the-mill-poster.jpg', height='70', width='50')
                  .col-xs-9
                    h4
                      a(href='#') Lorem Impusom Mothafucka
                    p
                      | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut
            hr
            .row
              .col-md-12
                .row
                  .col-xs-2
                    img(src='../img/FAVE-Run-2013-Poster.jpg', height='70', width='50')
                  .col-xs-9
                    h4
                      a(href='#') Lorem Impusom Mothafucka
                    p
                      | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut
            hr
            .row
              .col-md-12
                .row
                  .col-xs-2
                    img(src='../img/SWCC_Run_FoCA_Poster_11X17.jpg', height='70', width='50')
                  .col-xs-9
                    h4
                      a(href='#') Lorem Impusom Mothafucka
                    p
                      | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut
    section#services.services-section
      .container
        .row
          .col-lg-12
            h1 SERVICES
        .row
          .col-md-4
            img.img-responsive(src='../img/search24.png')
            h3 Lorem Impsum
            p
              | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
          .col-md-4
            img.img-responsive(src='../img/people3.png')
            h3 Lorem Impsum
            p
              | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
          .col-md-4
            img.img-responsive(src='../img/monitor46.png')
            h3 Lorem Impsum
            p
              | Dictas philosophia nec ne. His esse justo epicurei ne, cu noster dictas efficiantur sea, sea tantas invidunt constituam ut.
    #download.download-section
      .container
        .row
          .col-md-7
            h1 Download the app!
            p
              | Sed vitae nisi non leo vestibulum volutpat. Maecenas facilisis elementum neque, iaculis rhoncus lectus tincidunt ac.
            #downloadbuttons
              img(src='../img/apple.png', height='50', width='150')
              img(src='../img/google.png', height='50', width='150')
          .col-md-5
            img.img-responsive(src='../img/final-imagehalf.png', height='50')
    #contacts.contacts-section
      .container
        #rowcontacts.row
          .col-md-4
            .row
              h3 Contacts
              .col-xs-2
                img.img-responsive.center-block(src='../img/localization3.png')
              .col-xs-9
                p Unit 14
                p 3 Edgar Buildings
                p George Street
                p England
            hr
            .row
              .col-xs-2
                img.img-responsive.center-block(src='../img/phone72.png')
              .col-xs-9
                p 63+ 09277861793
            hr
            .row
              .col-xs-2
                img.img-responsive.center-block(src='../img/google110.png')
              .col-xs-9
                p trackermaster@gmail.com
          .col-md-4
            .row
              h3 Social Media
              .col-xs-2
                img.img-responsive.center-block(src='../img/facebok.png')
              .col-xs-9
                p facebook.com/trailrushofficial
            hr
            .row
              .col-xs-2
                img.img-responsive.center-block(src='../img/social71.png')
              .col-xs-9
                p twitter.com/trailrushofficial
            hr
            .row
              .col-xs-2
                img.img-responsive.center-block(src='../img/instagram13.png')
              .col-xs-9
                p instagram.com/trailrushofficial
          .col-md-4
            form#contactForm(name='sentMessage', novalidate='')
              .row
                h3 Get in Touch
                .col-lg-12
                  .form-group
                    input#name.form-control(type='text', placeholder='Your Name *', required='', data-validation-required-message='Please enter your name.')
                    p.help-block.text-danger
                  .form-group
                    input#email.form-control(type='email', placeholder='Your Email *', required='', data-validation-required-message='Please enter your email address.')
                    p.help-block.text-danger
                  .form-group
                    textarea#message.form-control(placeholder='Your Message *', required='', data-validation-required-message='Please enter a message.', rows='3')
                    p.help-block.text-danger
                .col-lg-12
                  #success
                  button.btn.btn-xl(type='submit') Send
    // jQuery
    script(src='../javascripts/jquery.js')
    script(src='../javascripts/scrollingproject.js')
    // Bootstrap Core JavaScript
    script(src='../javascripts/bootstrap.min.js')
    // Scrolling Nav JavaScript
    script(src='../javascripts/jquery.easing.min.js')
    script(src='../javascripts/scrolling-nav.js')
    script(src='../javascripts/newscarousel.js')
