link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
link(href='stylesheets/scrolling-nav.css', rel='stylesheet')
link(href='stylesheets/newscarousel.css', rel='stylesheet')
link(href='stylesheets/project.css', rel='stylesheet')
h1 Login
br
form(id="login", method="POST", action="/login")
	lable(for='username') User Name :
	input#username(type='text', name='username')
	br
	br
	lable(for='password') Password :
	input#password(type='password', name='password')
	br
	br
	input(type="submit", value="Log In")
		
