link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
link(href='stylesheets/scrolling-nav.css', rel='stylesheet')
link(href='stylesheets/newscarousel.css', rel='stylesheet')
link(href='stylesheets/project.css', rel='stylesheet')
<<<<<<< HEAD
form.form-horizontal(role='form' method="POST", action="/login")
                  h2 Please Sign In
                  hr
                  // Username
                  .form-group
                    label.control-label.col-sm-2(for='username') Username:
                    .col-sm-10
                      input#username.form-control(type='text', placeholder=' Enter Username', name='username')
                  // Password
                  .form-group
                    label.control-label.col-sm-2(for='password') Password:
                    .col-sm-10
                      input#passwordd.form-control(type='password', placeholder='Enter Password', name='password')
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      .checkbox
                        label
                          input(type='checkbox')
                          |  Remember me
                  .modal-footer
                    button.btn.btn-primary(type='submit' value="Log In") Submit
                    a.btn.btn-default(data-dismiss='modal') Close

h1!=message
=======
h1 Login
br
form(id="login", method="POST", action="/login")
	lable(for='username') User Name :
	input#username(type='text', name='username')
	br
	br
	lable(for='password') Password :
	input#password(type='password', name='password')
	br
	br
	input(type="submit", value="Log In")
	
h1!=message		
>>>>>>> latest
