h1 SIGN UP
br
form(id="signup", method="POST", action="/signup")
	lable(for='username') User Name :
	input#username(type='text', name='username')
	br
	br
	lable(for='password') Password :
	input#password(type='password', name='password')
	br
	br
	lable(for='email') Email :
	input#email(type='email', name='email')
	br
	br
	lable(for='fname') Name :
	input#fname(type='text', name='fname')
	br
	br
	lable(for='age') Age :
	input#age(type='text', name='age')
	br
	br
	lable(for='gender') Gender :
	input#gender(type='text', name='gender')
	br
	br
	input(type="submit", value="Sign UP")

h1!=message