table 
 each name in users
  tr
   td #{name._id}
    each time in name.Date
     script
      -var unix_timestamp = time;
      -var date = new Date(unix_timestamp*1000);
      -var minutes = "0" + date.getMinutes();
      -var seconds = "0" + date.getSeconds();
      -var hours = date.getHours();
      -var formattedTime = hours + ':' + minutes.substr(minutes.length-2) + ':' + seconds.substr(seconds.length-2);
     td #{formattedTime}
