extends layout

block content
    button#btnBack Back to Event
    h1 #{eventID} Event
    p Admin Page (Participants)
    // Wrapper
    #wrapper
        // SEARCH USER
        h2 Search Runner
        #searchUser
            field
                input#inputSearchName(type='text', placeholder='Bib ID')
                br
                button#btnSearchUser Search
                br
                br
        // /SEARCH USER

        // USER LIST
        h2 #{eventID} Event
        #userList
            table
                thead
                    th BibID
                    th Name
                    th Gender
                    th Age
                    th Remove
                tbody
        // /USER LIST
        input(type="hidden" id="hiddenEvent" value="#{eventID}")
        // ADD USER
        #addUserPanel
          h2 Add User
          #addUser
            fieldset
              input#inputUserBibID(type='number', placeholder='BibID')
              input#inputUserEvent(type='text', placeholder='Event')
              br
              input#inputUserFullname(type='text', placeholder='Full Name')
              input#inputUserAge(type='number', placeholder='Age')
              br
              input#inputUserEmail(type='text', placeholder='Email Address')
              input#inputUserContactNumber(type='number', placeholder='Contact Number')
              br
              input#inputUserAddress(type='text', placeholder='Address')
              input#inputUserGender(type='text', placeholder='Gender')
              br
              button#btnAddUser Add User
        // /ADD USER

        // UPDATE USER
        #updateUserPanel
          h2 Update User
          #updateUser
            fieldset
              input#updateUserBibID(type='number', placeholder='BibID',)
              input#updateUserEvent(type='text', placeholder='Event')
              br
              input#updateUserFullname(type='text', placeholder='Full Name')
              input#updateUserAge(type='number', placeholder='Age')
              br
              input#updateUserEmail(type='text', placeholder='Email Address')
              input#updateUserContactNumber(type='number', placeholder='Contact Number')
              br
              input#updateUserAddress(type='text', placeholder='Address')
              input#updateUserGender(type='text', placeholder='Gender')
              br
              | <div id="qrcode" style="width:250px; height:250px; margin-top:15px;"></div>
              br
              button#btnUpdateUser Update
              button#btnCancelUpdateUser Cancel
              
        // /UPDATE USER

    // /WRAPPER