extends layout

block content
    button#btnBack Back to Event
    h1 #{eventID} Event
    p Admin Page (Participants)
        input(type="hidden" id="hiddenEvent" value="#{eventID}")

        // Wrapper
        .row
          .col-md-12
            #wrapper  
                // USER LIST
                h2 Participants

                #userList
                    table.table.table-striped
                      thead
                          th BibID
                          th Name
                          th Remove
                      tbody
        // /WRAPPER

    #editmodal.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          form.form-horizontal
            .modal-header
              h4 Edit Participant
            .modal-body
              .form-group
                label.col-lg-2.control-label Bib ID:
                .col-lg-10
                  input#updateUserBibID.form-control(type='text', placeholder='Bib ID', rel='bibid')
                br
              .form-group
                label.col-lg-2.control-label Event:
                .col-lg-10
                  input#updateUserEvent.form-control(type='text', placeholder='Event', rel='event')
                br
                .form-group
                label.col-lg-2.control-label Name:
                .col-lg-10
                  input#updateUserFullname.form-control(type='text', placeholder='Full Name', rel='fullname')
                br
                .form-group
                label.col-lg-2.control-label Age:
                .col-lg-10
                  input#updateUserAge.form-control(type='text', placeholder='Age', rel='age')
                br
                .form-group
                label.col-lg-2.control-label Email:
                .col-lg-10
                  input#updateUserEmail.form-control(type='text', placeholder='Email Address', rel='emailaddress')
                br
                .form-group
                label.col-lg-2.control-label Contact:
                .col-lg-10
                  input#updateUserContactNumber.form-control(type='text', placeholder='Contact Number', rel='contactnumber')
                br
                .form-group
                label.col-lg-2.control-label Address:
                .col-lg-10
                  input#updateUserAddress.form-control(type='text', placeholder='Address', rel='address')
                br
                .form-group
                label.col-lg-2.control-label Gender:
                .col-lg-10
                  input#updateUserGender.form-control(type='text', placeholder='Gender', rel='gender')
                br
                br
                label.col-lg-2.control-label QR:
                |  <div id="qrcode" style="width:250px; height:250px; margin-top:15px;"></div>
              .modal-footer
                button#btnUpdateUser.btn-primary(type='submit') Save
                a.btn.btn-default(data-dismiss='modal') Close