extends layout2

block content
    h1 (Logo) Trail Rush
    p Admin Page(Event)

    // Wrapper
    #wrapper

        // USER LIST
        h2 Event
        #userList
            table
                thead
                    th EVENT
                    th Remove
                tbody
        // /USER LIST
        button#btnAddEvent Add Event
    // /WRAPPER