extends layout2

block content



    // Wrapper
    #wrapper

        // USER LIST
        h2 Event
        #userList1
            table
                thead
                    th Event
                    th Remove
                tbody
        button#btnAddEvent Add Event
        br
        br

        // /USER LIST
    // /WRAPPER

           

